* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    ". nav nav . "
    "blog blog blog blog "
    "footer footer footer footer";
}

nav {
  background-color: green;
  height: 50px;
  grid-area: nav;

  /* padding: 0 120px; */
}

section {
  /* display: grid;
   grid-template-columns: 3fr 1fr;
   grid-gap: 45px; */
  grid-area: blog;
}

footer {
  grid-area: footer;
  height: 75px;
}

article {
  border: 1px solid black;
}

aside {
  border: 1px solid red;
}

header {
  display: flex;
  justify-content: center;
}

header div {
  /* width: 30px; */
  /* height: 50px; */
  background: blue;
  border: 10px solid black;
  padding: 50px;
  margin: 50px;
}

.grid-magic {
  height: 70vh;
  background: teal;
}

@media (max-width: 769px) {
  body {
    background-color: violet;
  }

  nav {
    background-color: yellow;
  }

  .container {
    grid-template-areas:
      "blog blog blog blog "
      "nav nav nav nav "
      "footer footer footer footer";
  }
}

@media (max-width: 500px) {
  nav {
    display: none;
  }
}
